.button{
    cursor: pointer;
    color: $primary-white-color;

    background-color: $primary-accent-color;
    border: transparent;
    border-radius: 4px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}