footer{
    background-color: $secondary-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container{
    display: flex;
    align-items: baseline;
}

.address-list{
    &__item {
        margin-bottom: 10px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__address-link {
        text-decoration: none;
        color: $primary-white-color;
        line-height: 1.71;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contact-link {
        text-decoration: none;
        color: $contacts-link-color;
        text-decoration: none;
        line-height: 1.71;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__contact-link:hover, &__contact-link:focus{
        color: $primary-accent-color;
    }
}
.social-links-container {
    margin-left: 70px;
}
.footer-networks{
    background-color: $foooter-link-backgroud;
    fill: $primary-white-color;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-label{
    margin-bottom: 20px;
    
    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14; 
}
