
    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $primary-white-color: #FFFFFF;
    $primary-accent-color: #2196F3;
    $black-color: #000000;
    $secondary-background-color: #2F303A;
    $secondary-white-color: #F5F4FA;
    $contacts-link-color: rgba(255, 255, 255, 0.6);
    $foooter-link-backgroud: rgba(255, 255, 255, 0.1);
    $backdrop-shadow: rgba(0, 0, 0, 0.2);
    $hero-button-hover-color: #188CE8;
    $border-color: #ECECEC;
    $scondary-border-color: #EEEEEE;
    $primary-icon-color: #AFB1B8;
    $hero-background: #C4C4C4;
    $hero-lenear-gradient: rgba(47, 48, 58, 0.4);

