.feature-section{
    padding-top: 95px;
    padding-bottom: 95px;
}
.feature-list{
    display: flex;
    gap: 30px;

    &__item{
        width: 270px;
    }
    &__icon-container {
        width: 270px;
        height: 120px;
        background-color: $secondary-white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__icon{
        width: 70px;
        height: 70px;
    }
    &__heading{
        text-transform: uppercase;
        line-height: 1.14;
        margin-bottom: 10px;
        
    }
    &__paragraph{
        color: $secondary-text-color;
        line-height: 1.71;
    }
}